/public/
/.ipynb_checkpoints/
/.idea/
/.deploy_git/
/.texpadtmp/
/.Trash/
/.snakemake/
/tmpdir_*/
sna*.err
sna*.out
job.srp*
.DS_Store
.Rhistory
.localized
slurm-*.out
template_for_step.01.csv.bwt_out*
template_for_step.01.csv_R*.fasta
.tags