/public/
/.ipynb_checkpoints/
/.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
/primer_table/.ipynb_checkpoints/ 
/primer_table/.ipynb_checkpoints/*
/.idea/
/.deploy_git/
/.texpadtmp/
/.Trash/
/.snakemake/
*/.snakemake/
*/.snakemake/*
/tmpdir_*/
*.err
*.out
job.srp*
.DS_Store
.Rhistory
.localized
slurm-*.out
template_for_step.01.csv.bwt_out*
template_for_step.01.csv_R*.fasta
.tags
# output file
*.html
*.svg
*.pdf
*.bmats.csv
config.yaml
config_template.yaml
